# Homepage
eseymour.me {
  root /var/www/eseymour.me/public
  gzip

  git github.com/eseymour/eseymour.me {
    path ../
    hook /webhook {$GITHUB_WEBHOOK_SECRET}
    then ./build.sh
  }
}

# Test sites
introduction.eseymour.me {
  root /var/www/eseymour.me/introduction/public
  gzip
}

minimal.eseymour.me {
  root /var/www/eseymour.me/minimal/public
  gzip
}

initio.eseymour.me {
  root /var/www/eseymour.me/initio/public
  gzip
}

# www redirect
www.eseymour.me {
  redir https://eseymour.me{uri}
}

# Old domain redirects
http://*.edwardseymour.me http://edwardseymour.me {
  redir https://eseymour.me{uri}
}

https://*.edwardseymour.me https://edwardseymour.me {
  redir https://eseymour.me{uri}
  tls {
    max_certs 50
  }
}
