edwardseymour.me www.eseymour.me {
  redir https://eseymour.me
}

eseymour.me {
  root /var/www/eseymour.me/public

  git github.com/eseymour/eseymour.me {
    path ../
    hook /webhook {$GITHUB_WEBHOOK_SECRET}
    then ./build.sh
  }
}

introduction.eseymour.me {
  root /var/www/eseymour.me/introduction/public
}

minimal.eseymour.me {
  root /var/www/eseymour.me/minimal/public
}
