http://*.edwardseymour.me {
  redir https://eseymour.me{uri}
}
https://*.edwardseymour.me www.eseymour.me {
  redir https://eseymour.me{uri}
}

eseymour.me {
  root /var/www/eseymour.me/public
  gzip

  git github.com/eseymour/eseymour.me {
    path ../
    hook /webhook {$GITHUB_WEBHOOK_SECRET}
    then ./build.sh
  }
}

introduction.eseymour.me {
  root /var/www/eseymour.me/introduction/public
  gzip
}

minimal.eseymour.me {
  root /var/www/eseymour.me/minimal/public
  gzip
}
